# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
devtools_options.yaml
.packages
.flutter-plugins
pubspec.lock

# Python related
__pycache__/
*.py[cod]
*$py.class
.venv/
backend/.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.python-version

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.tmp
*.temp

# Environment variables
.env
.env.*
backend/.env
backend/.env.*
!.env_ex
!backend/.env_ex

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

# Visual Studio Code related
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# touch-bridge-495300-e3f42de71ebd.json
touch-bridge-495300-e3f42de71ebd.json

Touch_bridge_HW_code/
